
{% extends "base.html" %}
{% load i18n static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<article class="col-xs-12 maincontent">
						<header class="page-header">
							<h1 class="page-title">
								<font color="#1F45FC">Changement de mot de passe</font>
							</h1>
						</header>

                        <div align="center">


                            <form class="form-horizontal" method="post">{% csrf_token %}

                            {% if form.errors %}
                                <div class="alert alert-danger">
                                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                </div>
                            {% endif %}


                            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>


                            <div class="form-group">
                                {{ form.old_password.errors }}
                                {{ form.old_password.label_tag }} {{ form.old_password }}
                            </div>

                            <div class="form-group">
                                {{ form.new_password1.errors }}
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                {% if form.new_password1.help_text %}
                                <div class="help-block">{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                            {{ form.new_password2.errors }}
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {% if form.new_password2.help_text %}
                                <div class="help-block">{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                            </div>


                            <div class="row">
                                <button class="btn btn-action" value="submit">{% trans 'Change my password' %} </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
