{% extends "base.html" %}
{% load i18n %}

{% block title %}Créer un compte FDW-Market{% endblock %}

{% block content %}
<h2>Enregistrer un compte sur le FDW-Market</h2>
<p>La plateforme de vente de la communauté francophone est encore en phase de développement intensive. Aucun système d'enregistrement n'est encore implémenté. Afin d'augmenter la sécurité et la confiance entre les membres, les inscriptions ne se font actuellement qu'après demande sur le forum FDW dans la section FDW-Market ou via le salon de discussion XMPP.</p>
<p>Un système d'authentification/création avec les identifiants de FDW est en cours d'étude.</p>
{% endblock %}
