<!DOCTYPE html>


<html>
<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="liberty's Hackers'" content="FDW-Market">
    <link rel="icon" href="/static/shops/img/favicon.gif">

        <!-- Minified converse files -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/shops/converse.js/converse.min.css">
    <script src="/static/shops/converse.js/converse.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="/static/shops/fonts/fonts_googleapis_OpenSans300-400-700.css">
    <link rel="stylesheet" href="/static/shops/bootstrap/css/slate/bootstrap.min.css">
    <link rel="stylesheet" href="/static/shops/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/shops/bootstrap/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="/static/shops/bootstrap/css/main.css">
    <link rel="stylesheet" href="/static/shops/perso/css/style.css">
    <!-- Custom styles for this template -->

    <!-- slider -->
     <link rel="stylesheet" href="/static/shops/CSS3-Slider/style/slider-def.css">

    <title>FDW-Market - The French Market Place!</title>
</head>

<body class="home">
  <div>
      <ul class="listeflex">
          <li><a style="color:cyan" href="https://blockchainbdgpzk.onion/charts/market-price">1&nbsp;฿itcoin&nbsp;=&nbsp;0&nbsp;€</font></a></li>
          <li class="actiflex"><a href="/">Accueil</a></li>
          
              <li><a href="/shops/">Shops</a></li>
              <li><a href="/escrows/">Escrows</a> </li>
          
          <li><a href="/about/">À&nbsp;propos</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li class="actiflex"><a href="/account/admin">admin
          </a>
          </li>
          
             
                  <li><a href="/messages/">Messages&nbsp;<strong>2</strong></a></li>
              
          
          
              <li><a href="/logout/">Déconnexion</a></li>
          
       </ul>
  </div>

    
        <div id="slider">
            <div class="slides">
                
                    <div class="slider">
                          
                            <a href="/shops/vendor0/"><img src="/media//pub_images/980737_iuCH4Ok.jpg" alt="Pub"/> </a>
                          
                          <div class="text-center">
                              <a href="/messages/compose/admin/">Espace publicitaire à louer pour 10€ en BTC par mois, contactez admin</a>
                          </div>

                    </div>
                
            </div>
        </div>
    




    
<div class="col-md-9">

<h1>Boîte de réception</h1>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr><th>Sujet</th><th>Expéditeur</th><th>Reçu</th><th>Action</th></tr>
    </thead>
    <tbody>

    <tr><td>
            
            <em>
            <a href="/messages/view/20/">Re: jk</a>
            </em>
            </td>
        <td>
            <a href="/account/vendor0/">vendor0</a>
						
        </td>
        <td>21 août 2017, 13:49</td>
        <td><a href="/messages/delete/20/">effacer</a></td>
    </tr>

    <tr><td>
            <strong>
            
            <a href="/messages/view/17/">buyer0</a>
            
            </strong></td>
        <td>
            <a href="/account/admin/">admin</a>
						
        </td>
        <td>21 août 2017, 13:45</td>
        <td><a href="/messages/delete/17/">effacer</a></td>
    </tr>

    <tr><td>
            <strong>
            
            <a href="/messages/view/15/">test</a>
            
            </strong></td>
        <td>
            <a href="/account/admin/">admin</a>
						
        </td>
        <td>21 août 2017, 13:44</td>
        <td><a href="/messages/delete/15/">effacer</a></td>
    </tr>

    </tbody>
</table>


</div>


    
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/messages/inbox/ " class="list-group-item">&raquo;&nbsp;Boîte de réception</a></li>
            <a href="/messages/outbox/ " class="list-group-item">&raquo;&nbsp;Messages envoyés</a></li>
            <a href="/messages/compose/ " class="list-group-item">&raquo;&nbsp;Nouveau Message</a></li>
            <a href="/messages/trash/ " class="list-group-item">&raquo;&nbsp;Poubelle</a></li>
        </div>
    </div>
</div>




<!-- Pied de page -->
</div>
<div id="footer">
	<div class="container">
		<p class="text-muted"> FDW-Market v 1.7.0 beta | Propulsé par Liberty's Hackers</p>
	</div>
</div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="/static/shops/bootstrap/js/jquery-2.1.3.min.js"></script>
    <script src="/static/shops/bootstrap/js/bootstrap.min.js"></script>
    <!-- Non used scripts
    /* <script src="/static/shops/bootstrap/js/headroom.min.js"></script>
    <script src="/static/shops/bootstrap/js/jQuery.headroom.min.js"></script>
    <script src="/static/shops/bootstrap/js/template.js"></script>  */ -->


<link rel="stylesheet" href="/static/debug_toolbar/css/print.css" type="text/css" media="print" />
<link rel="stylesheet" href="/static/debug_toolbar/css/toolbar.css" type="text/css" />

<!-- Prevent our copy of jQuery from registering as an AMD module on sites that use RequireJS. -->
<script src="/static/debug_toolbar/js/jquery_pre.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/static/debug_toolbar/js/jquery_post.js"></script>

<script src="/static/debug_toolbar/js/toolbar.js"></script>
<div id="djDebug" class="djdt-hidden" dir="ltr"
     data-store-id="51475391db214bd8992b4b39804e0339" data-render-panel-url="/__debug__/render_panel/"
     >
	<div class="djdt-hidden" id="djDebugToolbar">
		<ul id="djDebugPanelList">
			
			<li><a id="djHideToolBarButton" href="#" title="Masquer la barre d'outils">Masquer &#187;</a></li>
			
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtVersionsPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Versions" class="VersionsPanel">
					
					Versions
					
					
						<br /><small>Django 1.11.4</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtTimerPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Temps" class="TimerPanel">
					
					Temps
					
					
						<br /><small>CPU: 232.00ms (229.51ms)</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtSettingsPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Paramètres de &lt;code&gt;fdwmarket.settings.local&lt;/code&gt;" class="SettingsPanel">
					
					Paramètres
					
					
						
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtHeadersPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="En-têtes" class="HeadersPanel">
					
					En-têtes
					
					
						
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtRequestPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Requête" class="RequestPanel">
					
					Requête
					
					
						<br /><small>inbox</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtSQLPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="SQL queries from 1 connection" class="SQLPanel">
					
					SQL
					
					
						<br /><small>14 queries in 2.84ms</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtStaticFilesPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Fichiers statiques (182 trouvé(s), 15 utilisé(s))" class="StaticFilesPanel">
					
					Fichiers statiques
					
					
						<br /><small>15 fichiers utilisés</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtTemplatesPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Gabarits (3 affichés)" class="TemplatesPanel">
					
					Gabarits
					
					
						<br /><small>django_messages/inbox.html</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtCachePanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Appels au cache depuis 1 moteur" class="CachePanel">
					
					Cache
					
					
						<br /><small>0 appel en 0.00ms</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtSignalsPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Signaux" class="SignalsPanel">
					
					Signaux
					
					
						<br /><small>14 receveurs de 12 signaux</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtLoggingPanel" checked="checked" title="Désactiver pour les requêtes suivantes" />
					
						<a href="#" title="Messages du journal" class="LoggingPanel">
					
					Journaux
					
					
						<br /><small>0 message</small>
					
					
					
						</a>
					
				</li>
			
				<li class="djDebugPanelButton">
					<input type="checkbox" data-cookie="djdtRedirectsPanel" title="Activer pour les requêtes suivantes" />
					
						<div class="djdt-contentless djdt-disabled">
					
					Interception des redirections
					
					
						</div>
					
				</li>
			
		</ul>
	</div>
	<div class="djdt-hidden" id="djDebugToolbarHandle">
		<span title="Afficher la barre d'outils" id="djShowToolBarButton">&#171;</span>
	</div>
	
		
			<div id="VersionsPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Versions</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="TimerPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Temps</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="SettingsPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Paramètres de <code>fdwmarket.settings.local</code></h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="HeadersPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>En-têtes</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="RequestPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Requête</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="SQLPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>SQL queries from 1 connection</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="StaticFilesPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Fichiers statiques (182 trouvé(s), 15 utilisé(s))</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="TemplatesPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Gabarits (3 affichés)</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="CachePanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Appels au cache depuis 1 moteur</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="SignalsPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Signaux</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
			<div id="LoggingPanel" class="djdt-panelContent">
				<div class="djDebugPanelTitle">
					<a href="" class="djDebugClose"></a>
					<h3>Messages du journal</h3>
				</div>
				<div class="djDebugPanelContent">
					
					<img src="/static/debug_toolbar/img/ajax-loader.gif" alt="loading" class="djdt-loader" />
					<div class="djdt-scroll"></div>
					
				</div>
			</div>
		
	
		
	
	<div id="djDebugWindow" class="djdt-panelContent"></div>
</div>
</body>

<script>
        converse.initialize({
            bosh_service_url: 'http://libertygb2nyeyay.onion:5280/http-bind',
            i18n: locales.en, // Refer to ./locale/locales.js to see which locales are supported
            keepalive: true,
            play_sounds: true,
            prebind: false,
            muc_nickname_from_jid: true,
            debug: true,
            roster_groups: true
        });
</script>
</html>

