{% extends "base.html" %}

{% load static %}

{% block title %}Enregistrement{% endblock %}

{% block content_block %}


<div class="container text-center">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
		<section id="about">
		<br />
		<h2 class="thin"><font color="#E8A317">Avertissement:
		<p >
            <font color="#E8A317">En vous inscrivant sur ce site, vous en acceptez les conditions d'utilisation que vous pouvez lire en cliquant sur le bouton suivant:
				<p>
					<a href="{% url 'rules' %}">
    					<button type="button" class="btn btn-warning btn-lg">CGU</button>
					</a>
				</p>
			</font>
        </h2>
	</font>

<div  style="text-align:justify;">
		<p>Le FDW-Market est une place de marché libre fournissant à des vendeurs et des acheteurs la possibilité  d'échanger en toute sécurité et en toute simplicité sans avoir à s'affranchir de frais d'inscription ou de craindre la censure</p>
		<p>Cette sécurité ne concerne que l'échange et non la transaction elle même. Seules les transactions prisent en charge par des escrows sont protégées par l'escrow et non par le site (La création d'un système d'escrow automatique est toutefois à l'étude).</p>
		<p>
		Le FDW-Market ne demande que peu de conditions pour devenir vendeur. Gardez donc à l'esprit qu'ici plus encore que sur d'autres places la prudence est de mise.<p />

		<h3 class="widget-title"><font color="#C28100">Bannières Publicitaires</font></h3>
		<p>
			Les bannières publicitaires sont juste louées par les vendeurs afin de mettre en avant leur shop. Les revenus générés par cette publicité contribue au financement de l'architecture de <a href="http://libertygb2nyeyay.onion">LH</a>. la bannière publicitaire n'est donc en aucun cas une garantie de l'honêteté du vendeur.
		<p />
		<h3 class="widget-title"><font color="#C28100">Vous êtes seul responsable de votre argent </font></h3>
		<p>
			Il n'existe aucun moyen de garantir à 100% la sécurité de votre transaction et encore moins l'intégrité de l'utilisateur avec qui vous échangez, n'engagez donc aucune somme d'argent superieur à une valeur dont vous n'êtes pas capable d'assumer la perte.</p>
		<p>
			- Il vous est conseillé de lire le topic suivant sur le forum French Deep Web:<br />
			<a href="http://fdwocbsnity6vzwd.onion/viewtopic.php?id=37213">
				[TUTO] Acheter en toute sécurité sur un market.
			</a>
		</p>
		<p>
			- Et avant tous scam-report, veillez à lire ce topic: <br />

			<a href="http://fdwocbsnity6vzwd.onion/viewtopic.php?id=36248">
				Concernant les scams
			</a>

		<p />
		<br /><br />
		<a href="{% url 'sign-up' %}"><button type="button" class="btn btn-success btn-lg">J'accepte</button></a>
		<a href="{% url 'home' %}"><button type="button" class="btn btn-danger btn-lg">Je refuse</button></a>

		<br />
		</div>
		<img src="{% static 'shops/img/FDwlogo2.png' %}"/>

		</section>

	</div>
	</div>
	</div>
	</div>

{% endblock %}
