<!DOCTYPE html>
{% load staticfiles filters %}

<html>
<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="liberty's Hackers'" content="FDW-Market">
    <link rel="icon" href="{% static 'shops/img/favicon.gif' %}">

        <!-- Minified converse files -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'shops/converse.js/converse.min.css' %}">
    <script src="{% static 'shops/converse.js/converse.min.js' %}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="{% static 'shops/fonts/fonts_googleapis_OpenSans300-400-700.css' %}">
    <link rel="stylesheet" href="{% static 'shops/bootstrap/css/slate/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'shops/bootstrap/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'shops/bootstrap/css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'shops/bootstrap/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'shops/perso/css/style.css' %}">
    <!-- Custom styles for this template -->

    <!-- slider -->
     <link rel="stylesheet" href="{% static 'shops/CSS3-Slider/style/slider-def.css' %}">

    <title>FDW-Market - {% block title %}The French Market Place!{% endblock %}</title>
</head>

<body class="home">
  <div>
      <ul class="listeflex">
          <li><a style="color:cyan" href="https://blockchainbdgpzk.onion/charts/market-price">1&nbsp;฿itcoin&nbsp;=&nbsp;{{btc_rate}}&nbsp;€</font></a></li>
          <li class="actiflex"><a href="{% url 'home' %}">Accueil</a></li>
          {% if user.is_authenticated %}
              <li><a href="{% url 'shops_list' %}">Shops</a></li>
              <li><a href="{% url 'escrows' %}">Escrows</a> </li>
          {% endif %}
          <li><a href="{% url 'about' %}">À&nbsp;propos</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li class="actiflex"><a href="/account/{{user.account.slug}}">{{ user }}
          {% if user.is_authenticated and user.account.absence != "disponible" %}
                <br><t class="alert alert-warning" style="padding:2px 2px">{{ user.account.absence }}</t>
          {% endif %}</a>
          </li>
          {% if user.is_authenticated %}
             {% if postman_unread_count > 0 %}
                  <li><a href="{% url 'postman:inbox' %}">Messages&nbsp;<strong>{{ postman_unread_count }}</strong></a></li>
              {% else %}
                  <li><a href="{% url 'postman:inbox' %}">Messages</a></li>
              {% endif %}
          {% endif %}
          {% if user.is_anonymous %}
              <li><a href="{% url 'login' %}">Identification</a></li>
              <li><a href="{% url 'signup-info' %}">Inscription</a></li>
          {% else %}
              <li><a href="{% url 'logout' %}">Déconnexion</a></li>
          {% endif %}
       </ul>
  </div>

    {% if user.is_authenticated %}
        <div id="slider">
            <div class="slides">
                {% for pub in pub_list %}
                    <div class="slider">
                          {% ifequal pub.shop None %}
                            <a href="{{ pub.url }}"><img src="{{ pub.image|picture_exists }}" alt="Pub"/> </a>
                          {% else %}
                            <a href="{%url 'shop_detail' pub.shop.slug %}"><img src="{{ pub.image|picture_exists }}" alt="Pub"/> </a>
                          {% endifequal %}
                          <div class="text-center">
                              <a href="{% url 'postman:write' pub_contact %}">Espace publicitaire à louer pour {{ pub_price }}€ en BTC par mois, contactez {{ pub_contact }}</a>
                          </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% block content_block %}

    {% block content %}
    {% endblock %}

    {% block postman_menu %}
    {% endblock %}

{% endblock %}

<!-- Pied de page -->
</div>
<div id="footer">
	<div class="container">
		<p class="text-muted"> FDW-Market v 1.7.0 beta | Propulsé par Liberty's Hackers</p>
	</div>
</div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="{% static 'shops/bootstrap/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'shops/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Non used scripts
    /* <script src="{% static 'shops/bootstrap/js/headroom.min.js' %}"></script>
    <script src="{% static 'shops/bootstrap/js/jQuery.headroom.min.js' %}"></script>
    <script src="{% static 'shops/bootstrap/js/template.js' %}"></script>  */ -->

</body>

<script>
        converse.initialize({
            bosh_service_url: 'http://libertygb2nyeyay.onion:5280/http-bind',
            i18n: locales.en, // Refer to ./locale/locales.js to see which locales are supported
            keepalive: true,
            play_sounds: true,
            prebind: false,
            muc_nickname_from_jid: true,
            debug: true,
            roster_groups: true
        });
</script>
</html>
